# EDA (Exploratory Data Analysis) llamadas 123 julio 2022

In [3]:
# importar librerias de manipulacion de datos
import numpy as np
import pandas as pd
# importar librerias del sistema
import os
from pathlib import Path
# libreria para fechas
from dateutil.parser import parse

In [4]:
# Ruta del proyecto
#root_dir = Path(".").resolve()
root_dir = Path(".").resolve().parent
print ('root dir:' , root_dir)
root_dir

root dir: D:\ESEIT\BIGDATA_2020B

WindowsPath('D:/ESEIT/BIGDATA_2020B')

In [5]:
# ruta del proyecto
#filename = input("Ingrese el nombre de archivo: ")
filename = "llamadas123_julio_2022.csv"
data_dir = "raw"
file_path = os.path.join(root_dir,"data",data_dir, filename)
print(file_path)

D:\ESEIT\BIGDATA_2020B\data\raw\llamadas123_julio_2022.csv

In [6]:
# leer archivo
data = pd.read_csv(file_path, encoding="latin-1", sep=";")
# copia de df original
new_data = data.copy()

In [7]:
# mostrar primeras filas
new_data.head(100)
new_data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [8]:
# La estructura de datos es una tupla con dimesiones 13055 filas y 11 columnas)
new_data.shape

(13055, 11)

In [9]:
# ver tipo de datos del df
#new_data.dtypes
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               13055 non-null  object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [11]:
# Extraer los valore únicos de las columnas

col = "GENERO"
valores_unicos = new_data[col].unique()
valores_unicos

array(['FEMENINO', 'MASCULINO', 'SIN_DATO'], dtype=object)

In [12]:
# Ontener la longitud de una lista
len (valores_unicos)

3

In [13]:
# Traer con un ciclo for los valores unicos en cada columna del df

for col in new_data.columns:
    valores_unicos = new_data[col].unique()
    n_valores = len (valores_unicos)
    print (col, n_valores)

NUMERO_INCIDENTE 12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL 12781
CODIGO_LOCALIDAD 20
LOCALIDAD 20
EDAD 100
UNIDAD 6
GENERO 3
RED 5
TIPO_INCIDENTE 21
PRIORIDAD 4
RECEPCION 5235

In [17]:
# Crear un diccionario vacío y llenarlo con el numero de calores unicos
dict_resumen = dict()

for col in new_data.columns:
    valores_unicos = new_data[col].unique()
    n_valores = len (valores_unicos)
    # print (col, n_valores)

    dict_resumen[col] = n_valores

In [18]:
# Con un diccionario ya se puede hacer una tabla más bonita. un dataframe
dict_resumen

{'NUMERO_INCIDENTE': 12015,
 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781,
 'CODIGO_LOCALIDAD': 20,
 'LOCALIDAD': 20,
 'EDAD': 100,
 'UNIDAD': 6,
 'GENERO': 3,
 'RED': 5,
 'TIPO_INCIDENTE': 21,
 'PRIORIDAD': 4,
 'RECEPCION': 5235}

In [33]:
df_resumen = pd.DataFrame.from_dict(dict_resumen, orient='index')
#como la tabla no tiene nombre columnas se le asigna uno
df_resumen.rename({0: 'Count'}, axis=1, inplace=True)   # Las columnas se identifican con el axis = 1  . El inplace = True es para que lo cambie dentro de la misma tabla
df_resumen

                                   Count
NUMERO_INCIDENTE                   12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL  12781
CODIGO_LOCALIDAD                      20
LOCALIDAD                             20
EDAD                                 100
UNIDAD                                 6
GENERO                                 3
RED                                    5
TIPO_INCIDENTE                        21
PRIORIDAD                              4
RECEPCION                           5235

In [38]:
# Guardar la tabla:
# si lo quisiera automatizar es cambiar el filename para todos los archivos que vayan llegando

out_name = 'resumen_'+ filename
out_path = os.path.join(root_dir,'data','processed',out_name)
# print(out_path)
df_resumen.to_csv(out_path)

In [464]:
new_data["TIPO_INCIDENTE"].value_counts(dropna=False)

Herido                                    3324
Inconsciente / Paro cardiorespiratorio    1836
Evento Respiratorio                       1703
Convulsi¢n                                1177
Enfermo                                    828
Trastorno Mental                           758
Dolor Tor cico                             705
Intento de Suicidio                        674
Accidente Cerebro Vascular                 391
S¡ntomas Gastrointestinales                377
Ca¡da de Altura                            312
Patolog¡a Ginecobsttrica                  275
Intoxicaci¢n                               253
Amenaza de Suicidio                        148
Acompa¤amiento Evento                       99
Violencia Sexual                            69
Maltrato                                    38
Electrocuci¢n / rescate                     18
Sangrado Vaginal                            18
Quemaduras                                  12
Solicitud de Apoyo                          11
Name: TIPO_INCIDENTE, dtype: int64

In [448]:
# valores por columna
new_data["TIPO_INCIDENTE"]

0                      Suba
1                      Suba
2        Rafael Uribe Uribe
3            Ciudad Bol¡var
4                   Usaqun
                ...
13021          Los M rtires
13022          Los M rtires
13023              Engativ
13024              Engativ
13025              Fontib¢n
Name: LOCALIDAD, Length: 13026, dtype: object

In [430]:
# Eliminar los registros duplicados, dejando solo el primer registro
print("filas y columnas", new_data.shape)
new_data = new_data.drop_duplicates()
print("filas y columnas sin duplicados", new_data.shape) 
# resetear indices de la tabla
new_data = new_data.reset_index(drop=True)

filas y columnas (13055, 11)
filas y columnas sin duplicados (13026, 11)

In [1]:
def str_to_datetime(value_str):
    try:
        var_datetime2 = parse(value_str, dayfirst=False)
        var_datetime = pd.to_datetime(var_datetime2)
    except Exception as e:
        #print(value_str, e)
        var_datetime = np.nan
    return var_datetime

<function str_to_datetime at 0x000002257F748790>

In [1]:
# iterar por cada registro para convertir a datetime Campo FECHA_INICIO_DESPLAZAMIENTO_MOVIL

fecha_ini_despl_movil = new_data["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]
list_fecha_ini_despl_movil = list()

for i in range(0,len(fecha_ini_despl_movil)):
    result_ini_despl_movil = str_to_datetime(fecha_ini_despl_movil[i])
    list_fecha_ini_despl_movil.append(result_ini_despl_movil)
    
new_data["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"] = list_fecha_ini_despl_movil
new_data["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]

NameError: name 'new_data' is not defined

In [3]:
# iterar por cada registro para convertir a datetime Campo RECEPCION

fecha_recepcion = new_data["RECEPCION"]
list_fecha_recepcion = list()

for i in range(0,len(fecha_recepcion)):
    result_fecha_recepcion = str_to_datetime(fecha_recepcion[i])
    list_fecha_recepcion.append(result_fecha_recepcion)
    

new_data["RECEPCION"] = list_fecha_recepcion
new_data["RECEPCION"]

NameError: name 'new_data' is not defined

In [435]:

# remplazar valor SIN_DATA a 0
new_data["EDAD"]  = new_data["EDAD"].replace({"SIN_DATO": 0})
# convertir columna a int64
new_data = new_data.astype({"EDAD":'int64'},errors = 'ignore') 
# ver columna
new_data["EDAD"]

0        88
1        16
2        52
3         0
4        33
         ..
13021    18
13022     0
13023    11
13024    19
13025     0
Name: EDAD, Length: 13026, dtype: int64

In [436]:
# remplazar valor SIN_DATA a Null
new_data["GENERO"]  = new_data["GENERO"].replace({"SIN_DATO": np.nan}) 
new_data["UNIDAD"]  = new_data["UNIDAD"].replace({"SIN_DATO": np.nan}) 


new_data["UNIDAD"].value_counts(dropna=False)

A¤os     6781
NaN      6195
Meses      39
Horas       6
Dias        5
Name: UNIDAD, dtype: int64

In [482]:
# Remplazar Caracter especial por palabra
new_data["UNIDAD"]  = new_data["UNIDAD"].replace({"A¤os": "Años"}) 
new_data["TIPO_INCIDENTE"]  = new_data["TIPO_INCIDENTE"].replace({"Convulsi¢n": "Convulsión","Dolor Tor cico": "Dolor Torácico","S¡ntomas Gastrointestinales": "Sintomas Gastrointestinales","Ca¡da de Altura": "Caida de Altura","Patolog¡a Ginecobsttrica": "Patologia Gineco Obstétrica","Intoxicaci¢n": "Intoxicación","Acompa¤amiento Evento": "Acompañamiento Evento","Electrocuci¢n / rescate": "Electrocución / rescate"}) 
new_data["LOCALIDAD"]  = new_data["LOCALIDAD"].replace({"Engativ ": "Engativá","Ciudad Bol¡var": "Ciudad Bolívar","Fontib¢n": "Fontibón","Usaqun": "Usaquén","San Crist¢bal": "San Cristóbal","Los M rtires": "Los Mártires","Antonio Nari¤o": "Antonio Nariño"}) 
new_data["LOCALIDAD"].value_counts()

Kennedy               1740
Suba                  1323
Engativá              1304
Bosa                  1065
Ciudad Bolívar        1009
Puente Aranda          742
Fontibón               670
Usaquén                667
Rafael Uribe Uribe     601
Usme                   597
San Cristóbal          595
Chapinero              507
Tunjuelito             391
Barrios Unidos         389
Los Mártires           379
Teusaquillo            361
Santa Fe               356
Antonio Nariño         244
La Candelaria           85
Sumapaz                  1
Name: LOCALIDAD, dtype: int64