# EDA Limpieza de Datos

In [15]:
# importar librerias de manipulacion de datos
import numpy as np
import pandas as pd

# importar librerias del sistema
import os
from pathlib import Path

root_dir = Path(".").resolve().parent
print ('root dir:' , root_dir)

filename = "llamadas123_julio_2022.csv"
data_dir = "raw"

file_path = os.path.join(root_dir,"data",data_dir, filename)

data = pd.read_csv(file_path, encoding="latin-1", sep=";")

root dir: D:\ESEIT\BIGDATA_2020B

In [16]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

# Registros Duplicados

In [17]:
print('Forma incial', data.shape)

data = data.drop_duplicates()   #elimina los registros duplicados, dejando solo el primer registro.

print('Forma final', data.shape)

Forma incial (13055, 11)
Forma final (13026, 11)

In [18]:
# Esquema de la tabla
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [20]:
data['UNIDAD'].value_counts(dropna=False)  #dropna= False  Hace un conteo sin eliminar los registros nulos. Si le dejo True no me los muestra

A¤os        6781
SIN_DATO    6187
Meses         39
NaN            8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [23]:
data['UNIDAD'].value_counts(dropna=False, normalize=True)  # para sacarlo en porcentaje o fracción

A¤os        0.520574
SIN_DATO    0.474973
Meses       0.002994
NaN         0.000614
Horas       0.000461
Dias        0.000384
Name: UNIDAD, dtype: float64

In [22]:
# Reemplace en la columna UNIDAD los nulos por SIN DATO
data['UNIDAD'].fillna('SIN_DATO').value_counts(dropna=False) #el dropna no sería necesario pues ya se actualizó. de todas maneras se deja en este ejemplo

A¤os        6781
SIN_DATO    6195
Meses         39
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [24]:
data['UNIDAD'] = data['UNIDAD'].fillna('SIN DATO')
# Sobreescribo la columna UNIDAD que tenia valores nulos por una columna nueva sin nulos

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [26]:
# como vemos que fecha inicio desplazamiento es object (string) debemos transformarlo a fecha.

# Manipulación de fechas (datetime)
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col]

0        2022-07-01 00:08:59
1        2022-07-01 00:14:58
2        2022-07-01 00:21:59
3        2022-07-01 00:38:38
4        2022-07-01 00:53:32
                ...
13050    2022-08-08 05:31:48
13051    2022-08-08 10:38:32
13052    2022-08-08 11:23:01
13053    2022-08-08 11:23:01
13054    0000-00-00 00:00:00
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 13026, dtype: object

In [28]:
data[col].max()

'2022-08-08 11:23:01'

In [29]:
data[col].min()

'0000-00-00 00:00:00'

In [31]:
# Aplicar filtros
valor_min = data[col].min()
data[data[col]== valor_min]

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
13054,CRU-00312775-22,0000-00-00 00:00:00,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00

In [32]:
# como es un solo registro entonces lo podría eliminar porque no sería muy relevante. Pero como tiene un tipo de incidente se podría mirar también dejarlo como nulo

data[data[col] != valor_min]

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...
13049,CRU-00314021-22,2022-08-02 03:25:08,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48
13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,A¤os,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13
13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00

In [39]:
# Formato de fechas (datetime)
# pandas tiene un método para convertir en fechas

data[col] = pd.to_datetime(data[col], errors = 'coerce')  #si llega a encontrar error escriba la palabra coerce que signifca dejelo ahí y continúe con otro.
# para este caso a la ultima variable le va a dejar un valor NaT (Not assigned time)

In [ ]:
# pero pandas recibe el modelo de año norteamericano, en este caso año , dia, mes. Hay que verificar bien

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.2+ MB

In [43]:
# Arreglamos ahora la columna RECEPCION.   La M mayuscula es de minutos, la m minuscula es de meses 
# es necesario traernos ina libreria "parse" para mejorar los formatos de tiempo

from dateutil.parser import parse
parse ('08/02/2021')

datetime.datetime(2021, 8, 2, 0, 0)

In [47]:
parse ('08-may-2021 5:30:43 pm')

datetime.datetime(2021, 5, 8, 17, 30, 43)

In [46]:


pd.to_datetime(data['RECEPCION'], errors='coerce', format ='%Y-%m-%d %H:%M:%S')

0       2022-07-01 03:40:13
1       2022-07-01 03:38:13
2       2022-07-01 04:08:24
3                       NaT
4       2022-07-01 03:25:29
                ...
13050                   NaT
13051                   NaT
13052                   NaT
13053                   NaT
13054                   NaT
Name: RECEPCION, Length: 13026, dtype: datetime64[ns]

In [49]:
#por defecto trae año y luego mes
parse(data ['RECEPCION'][13052])

datetime.datetime(2022, 9, 8, 13, 13)

In [50]:
#y se puede cambiarpara colocar año y primero el día
parse(data ['RECEPCION'][13052], dayfirst=True)

datetime.datetime(2022, 8, 9, 13, 13)

In [52]:
# Vamos a aplicar una función para recibir un str con fechas y regrese un valor en datetime usando parse
def convertir_formato_fecha(str_fecha):
    val_datetime = parse(str_fecha, dayfirst=True)
    return val_datetime

In [71]:
#Se hizo esto previo para que no se genere problemas con los indices.m 
data = data.reset_index()

In [72]:
# Con una funcion puedo hacer que haga un try y en casi contrario que imprima el error.
# cuando sea posible va llenando la lista de fechas, cuando no, que lo deje con el valor original

list_fechas = list()
n_filas = data.shape[0]
# Otra forma para mirar el shape es también: 
# n_filas = len(data['RECEPCION'])

for i in range (0,n_filas):

    str_fecha = data['RECEPCION'][i]
    
    try:
        val_datetime = convertir_formato_fecha(str_fecha=str_fecha)
        list_fechas.append(val_datetime)
    except Exception as e:
        #print(i, e)
        list_fechas.append(str_fecha)

        continue

    #print (val_datetime)

In [74]:
# Aquí imprime todos los formatos, excepto las que no pudo.
# se crea una nueva columna como para poder comparara

data['RECEPCION_CORREGIDA'] = list_fechas

In [77]:
data['RECEPCION_CORREGIDA'] = pd.to_datetime(data['RECEPCION_CORREGIDA'], errors= 'coerce')

In [78]:
data

,level_0,index,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_CORREGIDA
0,0,0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-01-07 03:40:13
1,1,1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-01-07 03:38:13
2,2,2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-01-07 04:08:24
3,3,3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,NaT
4,4,4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-01-07 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13021,13021,13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48,2022-08-08 06:48:00
13022,13022,13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00,NaT
13023,13023,13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,A¤os,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13,2022-08-09 13:13:00
13024,13024,13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00,NaT
13025,13025,13054,CRU-00312775-22,NaT,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00,NaT

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   level_0                            13026 non-null  int64
 1   index                              13026 non-null  int64
 2   NUMERO_INCIDENTE                   13026 non-null  object
 3   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 4   CODIGO_LOCALIDAD                   13026 non-null  int64
 5   LOCALIDAD                          13026 non-null  object
 6   EDAD                               13026 non-null  object
 7   UNIDAD                             13026 non-null  object
 8   GENERO                             13026 non-null  object
 9   RED                                13026 non-null  object
 10  TIPO_INCIDENTE                     13026 non-null  object
 11  PRIORIDAD                          13026 non-null  object
 12  RECEPCION                          13026 non-null  object
 13  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(9)
memory usage: 1.4+ MB

## Consistencia de los datos

In [81]:
# ahora vamos a ver también la consistencia de los datos
# vamos a ver ahora edad

data['EDAD'].value_counts(dropna=False)

SIN_DATO    6187
23           150
22           140
30           134
27           134
            ...
7             17
98            16
9             15
8             14
97            12
Name: EDAD, Length: 100, dtype: int64

In [84]:
# Se va a reemppazar SIN_DATO por un valor nulo de tipo numérico en vez de str

# data['EDAD'].replace({'SIN_DATO' : np.nan}).value_counts(dropna=False)

data['EDAD'] = data['EDAD'].replace({'SIN_DATO' : np.nan})

In [86]:
# sigue tomando str en EDAD (porque està object). entonces vamos a hacer luego una función lambda (funcion que se escribe en 1 sola linea y se usa una vez)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   level_0                            13026 non-null  int64
 1   index                              13026 non-null  int64
 2   NUMERO_INCIDENTE                   13026 non-null  object
 3   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 4   CODIGO_LOCALIDAD                   13026 non-null  int64
 5   LOCALIDAD                          13026 non-null  object
 6   EDAD                               6839 non-null   object
 7   UNIDAD                             13026 non-null  object
 8   GENERO                             13026 non-null  object
 9   RED                                13026 non-null  object
 10  TIPO_INCIDENTE                     13026 non-null  object
 11  PRIORIDAD                          13026 non-null  object
 12  RECEPCION                          13026 non-null  object
 13  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(9)
memory usage: 1.4+ MB

In [93]:
# funciones lambda

x = '8'
f =lambda x: x if x == np.nan else int(x)
f(x)

8

In [96]:
# devuelvame su mismo valor si es un nulo de lo contrario intente hacer la funcion int

x = '5'
f =lambda x: x if pd.isna(x) == True else int(x)
f(x)

5

In [98]:
data['EDAD'] = data['EDAD'].apply(f)

In [99]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   level_0                            13026 non-null  int64
 1   index                              13026 non-null  int64
 2   NUMERO_INCIDENTE                   13026 non-null  object
 3   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 4   CODIGO_LOCALIDAD                   13026 non-null  int64
 5   LOCALIDAD                          13026 non-null  object
 6   EDAD                               6839 non-null   float64
 7   UNIDAD                             13026 non-null  object
 8   GENERO                             13026 non-null  object
 9   RED                                13026 non-null  object
 10  TIPO_INCIDENTE                     13026 non-null  object
 11  PRIORIDAD                          13026 non-null  object
 12  RECEPCION                          13026 non-null  object
 13  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(8)
memory usage: 1.4+ MB

In [100]:
# otro problema es arreglar los caracteres

data['LOCALIDAD']

0                      Suba
1                      Suba
2        Rafael Uribe Uribe
3            Ciudad Bol¡var
4                   Usaqun
                ...
13021          Los M rtires
13022          Los M rtires
13023              Engativ
13024              Engativ
13025              Fontib¢n
Name: LOCALIDAD, Length: 13026, dtype: object

In [103]:
# forma de cambiar a minusculas y mayusculas
word = "BigData"
print(word, word.lower(), word.upper() )

BigData bigdata BIGDATA

In [112]:
word = "   BigData"
print(word.lstrip() )

BigData

In [113]:
data['LOCALIDAD'].apply(lambda x: x.strip()).value_counts()

Kennedy               1740
Suba                  1323
Engativ               1304
Bosa                  1065
Ciudad Bol¡var        1009
Puente Aranda          742
Fontib¢n               670
Usaqun                667
Rafael Uribe Uribe     601
Usme                   597
San Crist¢bal          595
Chapinero              507
Tunjuelito             391
Barrios Unidos         389
Los M rtires           379
Teusaquillo            361
Santa Fe               356
Antonio Nari¤o         244
La Candelaria           85
Sumapaz                  1
Name: LOCALIDAD, dtype: int64